<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <h1>Welcome to my web app!</h1>
    <img src="img/winteriscoming.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <img src="img/thenorthremembers.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
   <img src="img/twoswords.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <img src="img/valar.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <img src="img/thewarstocome.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
</head>
<body>
    <img src="img/redwoman.jpg" />

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>
